.about-container {
    display: flex;
    height: 90%;
    width: 100%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 10px;
    overflow: hidden;
}

.about-container-top {
    width: 70%;
    padding: 0 8%;
    margin-bottom: 5%;
}


.about-container-bottom {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.about-container-bottom .content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 25%;
    padding: 0 5%;
}

.about-container-bottom .content .fab {
    color: #e0adf6;
    padding: 10px;
    font-size: 1.3rem;
}

.about-container-bottom .element {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    margin-bottom: 40px;
    overflow: hidden;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #efa9f5 100%);
}

.about-container-bottom .content .fas {
    color: white;
    font-size: 4.5rem;
}


