header {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    color: var(--main-color);
    z-index: 100;
}

header ul {
    list-style: none;
    display: flex;
    display: flex;
    align-items: center;
}

li {
    font-size: 1rem;
    font-weight: bold;
}

h1 {
    font-size: 1.5rem;
}

header  a {
    color: unset;
    text-decoration: none;
    margin: 0 20px 0 40px;
}

header .sign-up-btn {
    margin-left: 10px
}

